body {
    font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	margin: 0;
    line-height: 1.6;
    background-color: #09BC8A;
}

h1 {
    color: #0D1821;
}

p {
    color: #1C262E;
}

a {
    color: #0D1821;
    text-decoration: none;
}

a:hover {
    color: #1C262E;
    text-decoration: underline;
}

.introduction,
.conversion-section {
    background-color: #F0F4EF;
    margin: 5%;
    padding: 5%;
    border-radius: 3px;
}


#regular-string,
#string {
    font-size: 15px;
    width: 99%;
    margin-bottom: 5%;
    padding: 2% 0 2% 1%;
    border-radius: 3px;
}

#submit-button {
    background-color: #09BC8A;
    font-weight: bold;
    color: #F0F4EF;
    border: none;
    border-radius: 3px;
    width: 40%;
    padding: 4%;
    display: block;
    margin: 0 auto 5%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

#submit-button:hover {
    box-shadow: 5px 5px 7px rgb(0 0 0 / 60%);
    text-decoration: underline;
}

#translated-text,
#translated-cipher {
    height: 25.7px;
    font-weight: bold;
    border: solid 1px #09BC8A;
    border-radius: 3px;
    padding: 5%;
    text-align: center;
}


@media only screen and (min-width: 563px) {
    .introduction,
    .conversion-section {
        width: 450px;
        margin: 5% auto;
        padding: 5%;
    }
}